p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: transparent;
}

.emphasis a {
  text-decoration: none;
  font-style: normal;
}

a:visited {
  text-decoration: none;
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section-wwd {
  padding-bottom: 94px;
}

.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}
:root {
  --text-color: #757575;
  --title-color: #000000;
  --btn-color: #2196f3;
  --link-op-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --white-back-color: #f5f5f5;
  --name-color: #212121;
  --back-color: #2f303a;
  --btn-active: #188ce8;
  --team-bg: #f5f4fa;
  --customer-color: #afb1b8;
  --secondary-grey: #c4c4c4;
  --icon-grey: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 450px;
  max-height: 609px;
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--name-color);
}

.modal-close-icon {
  position: absolute;
  fill: black;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover, .modal-close-icon:focus {
  fill: var(--btn-color);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--btn-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--btn-color);
}
.modal-form__item {
  margin-bottom: 10px;
}
.modal-form__label {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--text-color);
}
.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  border-color: var(--btn-color);
}
.modal-form__icon {
  position: absolute;
  fill: var(--name-color);
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button:focus, .modal-form__button:hover {
  background: var(--btn-active);
}

.modal--close {
  height: 30px;
  width: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.policy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 7px;
}
.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy__checkbox:checked ~ .policy__checkbox-icon--check {
  display: inline-block;
}
.policy__checkbox-icon {
  position: absolute;
  top: 6px;
  left: -12px;
}
.policy__checkbox-icon--check {
  position: absolute;
  top: 6px;
  left: -12px;
  display: none;
}

.policy a {
  color: var(--btn-color);
}

.checkbox-policy {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
  .policy__checkbox-icon {
    top: 12px;
    left: 0;
  }
  .policy__checkbox-icon--check {
    top: 12px;
    left: 0;
  }
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__logo--color {
  color: var(--btn-color);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}
.logo--color {
  color: var(--btn-color);
}

.site-nav {
  display: none;
}
.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--name-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav:hover {
  cursor: pointer;
}
.site-nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--btn-color);
}

.contact {
  display: none;
}
.contact .contact__item + .contact__item {
  margin-left: 50px;
}
.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--btn-color);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: currentColor;
}
.contact .contact__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.contact__icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--btn-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--btn-color);
  border-radius: 2px;
}

.mob-menu-current {
  color: var(--btn-color);
}

.mobile-menu {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--white-color);
}

.mobile-nav__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--name-color);
  margin-left: 25px;
}

.mobile-nav__item:not(:first-child) {
  margin-top: 30px;
}

.mobile-nav__link {
  text-decoration: none;
  color: var(--name-color);
}

.mobile-nav__link:focus,
.mobile-nav__link:hover {
  color: var(--btn-color);
}

.mobile-contact {
  margin-top: 302px;
  margin-left: 25px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--btn-color);
}

.mobile-contact__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu-soc {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  margin-top: 32px;
}

.mobile-menu-soc__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--btn-color);
}

.mobile-menu-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-soc__item:not(:first-child) {
  padding-left: 10px;
}

.header__menu-button {
  border: none;
  background-color: var(--white-color);
}

.header__menu-icon {
  height: 40px;
  width: 40px;
  background-color: var(--white-color);
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15px, 10px);
}

.header__menu-close {
  height: 40px;
  width: 40px;
  background-color: var(--white-color);
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
  .site-nav {
    display: flex;
    margin-left: 87px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact__link {
    padding-top: 0;
    padding-bottom: 0;
  }
  .contact .contact__item + .contact__item {
    margin-left: 0;
  }
  .contact__item + .contact__item {
    margin-top: 10px;
  }
  .contact .contact__item {
    margin-right: 0;
  }
  .contact__icon {
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
  .contact .contact__item + .contact__item {
    margin-left: 50px;
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}
.hero--background {
  margin: 0 auto;
  text-align: center;
  min-width: 480px;
  background-color: var(--secondary-grey);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--background {
    background-image: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/hero-bg-mobile-2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero--background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--background {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
.hero__title {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}
.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  background: #2196f3;
  border-style: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-active);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__icon {
  content: "";
  height: 120px;
  width: 450px;
  border-radius: 4px;
  background-position: center;
  background-color: var(--team-bg);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__icon {
    width: 354px;
  }
  .features__item {
    width: 354px;
  }
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .features {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
  }
  .features .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features .features__item:not(:last-child) {
    margin-right: 30px;
  }
  .features .features__item {
    width: 270px;
  }
  .features .features__icon {
    height: 120px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.whatwedo {
  display: flex;
}
.whatwedo .whatwedo__item:not(:last-child) {
  margin-right: 30px;
}
.whatwedo__item {
  position: relative;
}
.whatwedo__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .display-none {
    display: none;
  }
}

.member {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--name-color);
}
.member__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.member .member__name {
  margin-bottom: 10px;
}
.member__photo {
  width: 450px;
}
.member:not(:last-child) {
  margin-bottom: 30px;
}

.team-bg {
  background-color: var(--team-bg);
  min-width: 480px;
}

.employee-bg .member {
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .employee-bg .member {
    width: 354px;
  }
  .employee-bg .member .member__photo {
    width: 354px;
  }
  .list-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .member:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .member {
    text-align: center;
  }
  .section {
    padding-top: 94px;
  }
  .list-flex {
    flex-wrap: nowrap;
  }
  .employee-bg .member {
    width: 270px;
  }
  .employee-bg .member .member__photo {
    width: 270px;
  }
}
.team-card {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-list__item {
  width: 44px;
  height: 44px;
}
.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:focus {
  background-color: var(--btn-color);
}
.soc-list__link:hover, .soc-list__link:focus .soc-list__icon {
  background-color: var(--btn-color);
  fill: var(--white-color);
}
.soc-list__link:hover .soc-list__icon {
  fill: var(--white-color);
}
.soc-list__icon {
  fill: var(--icon-grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.customer__icon {
  height: 92px;
  width: 210px;
  border: 1px solid var(--customer-color);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--customer-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__icon:hover, .customer__icon:focus {
  border-color: var(--btn-color);
  fill: var(--btn-color);
}
@media screen and (min-width: 768px) {
  .customer .customer__icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer .customer__icon {
    width: 170px;
  }
}

.logo {
  padding: 0;
}
.logo--white {
  color: var(--white-color);
}
.logo--blue {
  color: var(--btn-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex {
  text-align: center;
}
.footer-contact__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__address:hover, .footer-contact__address:focus {
  color: var(--btn-color);
}
.footer-contact__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-op-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__contact:hover, .footer-contact__contact:focus {
  color: var(--btn-color);
}
.footer-bg {
  background-color: var(--back-color);
  min-width: 480px;
}
.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-contact .footer-contact__item + .footer-contact__item {
  margin-top: 9px;
}
.footer-soc {
  margin-top: 60px;
}
.footer-email-join {
  margin-left: auto;
  margin-top: 60px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-list__item {
  width: 44px;
  height: 44px;
}
.footer-soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-list__link:hover, .footer-soc-list__link:focus {
  background-color: var(--btn-color);
}
.footer-soc-list__icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join {
  text-align: center;
}
.footer-join__input {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join__input:focus {
  border-color: var(--btn-color);
}
.footer-join__button {
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join__button:focus, .footer-join__button:hover {
  background: var(--btn-active);
}
.footer-join::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-join:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-join::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-join__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.join {
  margin-left: auto;
}
.join-us {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-soc {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
  .footer-soc {
    margin-left: 93px;
    margin-top: 0px;
  }
  .footer-email-join {
    margin: 0;
  }
  .footer-join {
    display: flex;
  }
  .footer-join__button {
    margin: 0;
    margin-left: 12px;
  }
  .footer-join__input {
    width: 358px;
  }
  .join-title {
    text-align: left;
  }
}
.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 130px;
  border-style: hidden;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--name-color);
  cursor: pointer;
  background-color: var(--team-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-flex {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-flex .filter__item + .filter__item {
  margin-left: 8px;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-card__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
}
.portfolio-card__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-card--shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card--shadow:hover, .portfolio-card--shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card--outline {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-card--wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-card__text {
  position: absolute;
  top: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-card__text {
  transform: translateY(0);
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */