// body {
//   font-family: "Roboto", sans-serif;
//   color: var(--text-color);
//   background-color: var(--white-color);
// }

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .section-wwd {
//   padding-bottom: 94px;
// }


body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}


.section-wwd {
  padding-bottom: 94px;
}

.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

@media screen and(min-width:1200px) {
  .section {
    padding-bottom: 94px;
  }
  
}