:root {
  --text-color: #757575;
  --title-color: #000000;
  --btn-color: #2196f3;
  --link-op-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --white-back-color: #f5f5f5;
  --name-color: #212121;
  --back-color: #2f303a;
  --btn-active: #188ce8;
  --team-bg: #f5f4fa;
  --customer-color: #afb1b8;
  --secondary-grey: #c4c4c4;
  --icon-grey: #afb1b8;
}
