.whatwedo {
  display: flex;

  & &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);

    background: rgba(47, 48, 58, 0.8);
  }

}
.display-none {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}